In [2]:
# Pandas Kütüphanesi
"""
- Hızlı, güçlü ve esnek
- Pandas sayesinde csv ve text dosyalarını kolayca okuyabiliyoruz.(etiketlerin genelde olduğu yer)
- Eksik verileri bulup çıkartmada
"""
import pandas as pd

In [28]:
dictionary = {"isim": ["ali","veli","kenan","murat","ayse","hilal"],
              "yas": [15,16,17,33,45,66], 
              "maas": [100,150,240,350,110,220]}
# Dictionary DataFrame(veri yapısı-veri çerçevesine) çevireceğim
veri = pd.DataFrame(dictionary) 
print(veri)
print("*********")
# ilk 5 satır
print(veri.head())
print("*********")
# Verinin Sütunları
print(veri.columns)
print("*********")
# Veri Bilgisi
print(veri.info())
print("*********")
# istatistiksel özellikler
print(veri.describe())
print("*********")
# Yas Sütunu
print(veri["yas"])
print("*********")
# Veri setine yeni sütun eklemek
veri["sehir"] = ["Ankara","İstanbul","Konya","İzmir","Bursa","Antalya"]
print(veri)
print("*********")
# yas sütunu
print(veri.loc[:,"yas"])
print("*********")
print(veri.loc[:2,"yas"]) # 2 burada dahil.(NumPy ve listelerden farklı olarak)

    isim  yas  maas
0    ali   15   100
1   veli   16   150
2  kenan   17   240
3  murat   33   350
4   ayse   45   110
5  hilal   66   220
*********
    isim  yas  maas
0    ali   15   100
1   veli   16   150
2  kenan   17   240
3  murat   33   350
4   ayse   45   110
*********
Index(['isim', 'yas', 'maas'], dtype='object')
*********
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   isim    6 non-null      object
 1   yas     6 non-null      int64
 2   maas    6 non-null      int64
dtypes: int64(2), object(1)
memory usage: 272.0+ bytes
None
*********
             yas        maas
count   6.000000    6.000000
mean   32.000000  195.000000
std    20.474374   94.815611
min    15.000000  100.000000
25%    16.250000  120.000000
50%    25.000000  185.000000
75%    42.000000  235.000000
max    66.000000  350.000000
*********
0    15
1    16
2    17
3    33
4    45
5    66
Name: yas, dtype: int64
*********
    isim  yas  maas     sehir
0    ali   15   100    Ankara
1   veli   16   150  İstanbul
2  kenan   17   240     Konya
3  murat   33   350     İzmir
4   ayse   45   110     Bursa
5  hilal   66   220   Antalya
*********
0    15
1    16
2    17
3    33
4    45
5    66
Name: yas, dtype: int64
*********
0    15
1    16
2    17
Name: yas, dtype: int64

In [29]:
# yas ve sehir arası sütunu ve 3 satır
print(veri.loc[:2,"yas":"sehir"])
print("*************")
# sadece yas ve isim'i alacağız
print(veri.loc[:2,["yas","isim"]])
print("*************")
# Tüm satırları tersten yazdır
print(veri.loc[::-1,:])
print("*************")
# Yas sütununu iloc(index) ile yazdıralım
print(veri.iloc[:,1])
print("*************")
# İlk 3 satır ve yaş ve isim
print(veri.iloc[:3,[0,1]]) # 3 dahil değil

   yas  maas     sehir
0   15   100    Ankara
1   16   150  İstanbul
2   17   240     Konya
*************
   yas   isim
0   15    ali
1   16   veli
2   17  kenan
*************
    isim  yas  maas     sehir
5  hilal   66   220   Antalya
4   ayse   45   110     Bursa
3  murat   33   350     İzmir
2  kenan   17   240     Konya
1   veli   16   150  İstanbul
0    ali   15   100    Ankara
*************
0    15
1    16
2    17
3    33
4    45
5    66
Name: yas, dtype: int64
*************
    isim  yas
0    ali   15
1   veli   16
2  kenan   17

In [36]:
# Filtreleme
dictionary = {"isim": ["ali","veli","kenan","murat","ayse","hilal"],
              "yas": [15,16,17,33,45,66], 
              "sehir": ["İzmir","Ankara","Konya","Ankara","Ankara","Antalya"]}
veri = pd.DataFrame(dictionary) 
print(veri)
print("*************")
# ilk olarak yaşa göre bir filtre yas > 22
filtre1 = veri.yas > 22
filtrelenmis_veri = veri[filtre1]
print(filtrelenmis_veri)

    isim  yas    sehir
0    ali   15    İzmir
1   veli   16   Ankara
2  kenan   17    Konya
3  murat   33   Ankara
4   ayse   45   Ankara
5  hilal   66  Antalya
*************
    isim  yas    sehir
3  murat   33   Ankara
4   ayse   45   Ankara
5  hilal   66  Antalya

In [39]:
# Ortalama Yas
ortalama_yas = veri.yas.mean()
print(ortalama_yas)
# List Comphresion
veri["YAS_GRUBU"] = ["kucuk" if ortalama_yas > i else "buyuk" for i in veri.yas] # verinin içerisindeki yas sütununda iteratif bir şekilde dolaşacağım
print(veri)

32.0
    isim  yas    sehir YAS_GRUBU
0    ali   15    İzmir     kucuk
1   veli   16   Ankara     kucuk
2  kenan   17    Konya     kucuk
3  murat   33   Ankara     buyuk
4   ayse   45   Ankara     buyuk
5  hilal   66  Antalya     buyuk

In [46]:
# Birleştirme
sozluk1 = {"isim": ["ali","veli","kenan"],
          "yas": [15,16,17],
          "sehir": ["İzmir","Ankara","Konya"]}
veri1 = pd.DataFrame(sozluk1)
sozluk2 = {"isim": ["murat","ayse","hilal"],
          "yas": [15,16,17],
          "sehir": ["Ankara","Ankara","Antalya"]}
veri2 = pd.DataFrame(sozluk2)
# Dikeyde Birleştirme
veri_dikey = pd.concat([veri1, veri2], axis = 0)
print(veri_dikey)
print("**********")
# Yatayda Birleştirme
veri_yatay = pd.concat([veri1,veri2], axis =1)
print(veri_yatay) # Farklı sütüünlar var ise yatayda birleştirme yapıyoruz.

    isim  yas    sehir
0    ali   15    İzmir
1   veli   16   Ankara
2  kenan   17    Konya
0  murat   15   Ankara
1   ayse   16   Ankara
2  hilal   17  Antalya
**********
    isim  yas   sehir   isim  yas    sehir
0    ali   15   İzmir  murat   15   Ankara
1   veli   16  Ankara   ayse   16   Ankara
2  kenan   17   Konya  hilal   17  Antalya